.horizontal-shake {
    animation: horizontal-shaking 0.7s;
  }
  
  @keyframes horizontal-shaking {
  
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-5px);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translateX(5px);
    }
  }

.review__error__message {
        position: relative;
             top: 3px;
           color: white;
      text-align: center;
         padding: 7px;
   margin-bottom: 5px;
background-color: #f40202c6;
   border-radius: 8px;
}

.review_sucessfully_submit {
          border: 2px solid rgb(50, 205, 50);
}

.login__error__message {
        position: absolute;
    margin-block: -21px;
           color: #ff4a4a;
      text-align: center;
           width: 100%
}

.login__submit__error {
          border: solid 2px #ff4a4a;
   border-radius: 3px;
      box-shadow: 0px 0px 10px 4px rgba(255, 0, 0, 0.603);
}
